
#homeBody{
	background-color: #FBCECE;
}

.tabBarImg{
	top:3px;
	height: 24px;
	width: 24px;
	padding-top: 0px;
	position: relative;
}


.tabBarSubDiv{

}

#tabBarHome{

}

.tabBarLabel{
	display: block;
	font-size: 10px;
	text-align: center;
}

#newsImg{
	width: 20px;
	height: 20px;
}