
html{
	height: 100%;
	width: 100%;
}

#homeBody{
	background-color: #FBCECE;
	height: 100%-20px;
	width: 100%;
}

.tabBarImg{
	top:3px;
	height: 24px;
	width: 24px;
	padding-top: 0px;
	position: relative;
}


.tabBarSubDiv{

}

#tabBarHome{

}

.tabBarLabel{
	display: block;
	font-size: 10px;
	text-align: center;
}

/*动态tabbar图片*/
#newsImg{
	width: 20px;
	height: 20px;
}

/*和tabbar垂直分隔body的container*/
.contaniner{
	width: 100%;
	height: 100%;

}

/*桃树*/
#peachTreeDiv{
	height: 100%;
	width: 100%;
}
#peachTreeImg{

	max-width: 120%;
	max-height: 120%;
	position: fixed;
	bottom: 50px;
	right: 40%;
}

/*每日一句*/
.dayWords{
	height: auto;
	width: 25px;
	position: fixed;
	right: 15px;
	top: 100px;
}

.pWords{
	width: 100%;
	height: auto;
	margin: 0px;
}
#firstWord{
	position: relative;
	height: auto;
	
}

#lastWord{
	position: relative;
	right: 20px;
	bottom: 20px;
}

/*牛郎织女*/
#ppleDiv{
	width: 120px;
	height: 120px;
	position: fixed;
	bottom: 50px;
}

.ppleImgDiv{
	width: 100%;
	height: 100%;
	position: absolute;
}

.ppleImg{
	width: 100%;
	height: 100%;
	position: relative;
	left: -10px;
}

/*侧拉滑动条*/
/*https://blog.csdn.net/qq_35393869/article/details/90175356*/

.slidePanel-flex-box{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.menuPanel-flex-box{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 50px;
	width: 100%;
}

.menuUlDiv{
	width: 100%;
	min-height: 100px;
	flex:1;
}

.grid-Title{
	width: 100%;
	height: 20px;
	position: absolute;
	z-index: 10;
	margin: auto;
}

.grid-titleText{
	width: 60px;
	height: 20px;
	margin: auto;
	font-size: 15px;
}

.grid-titleLine{
	width: 150px;
	border:0.3px solid #CCC;
	margin: auto;
	margin-top: 2px;
}

.box{
	display: flex;
	
}
.item{
	display: flex;
	height: 200px;
	width: 200px;
	background-color: #0062CC;
	border:1px solid #F2F2F2;
	
	z-index: 222;
}
.item2{
	height: 40px;
	width: 40px;
	background-color: #CF2D28;
	border:1px solid #4CD964;
	
	z-index: 223;
}