/******
	Flex
******/
.my-flex{
	display: flex;
}
.my-flex-col{
	flex-direction:column;
}

.my-flex-start{
	justify-content: flex-start
}

.my-flex-end{
	justify-content: end;
}

.my-flex-center{
	justify-content: center;
}

.my-flex-between{
	justify-content: space-between;
}

.my-flex-around{
	justify-content: space-around;
}

.my-flex-align-start{
	align-items: flex-start;
}

.my-flex-align-end{
	align-items: flex-end;
}

.my-flex-align-center{
	align-items: center;
}

.my-flex-align-stretch{
	align-items: stretch;
}

.my-flex-align-baseline{
	align-items: baseline;
}

/******
	Display
******/
.my-display-inline{
	display:inline;
}

.my-display-block{
	display:block;
}

.my-display-inline-block{
	display:inline-block;
}

/******
	Position
******/
.my-position-relative{
	position:relative;
}
.my-position-absolute{
	position:absolute;
}
.my-position-fixed{
	position:fixed;
}
.my-position-sticky{
	position:sticky;
}

.my-position-top-0rpx{
	top:0rpx;
}
.my-position-top-5rpx{
	top:5rpx;
}
.my-position-top-10rpx{
	top:10rpx;
}
.my-position-top-15rpx{
	top:15rpx;
}
.my-position-top-20rpx{
	top:20rpx;
}
.my-position-top-30rpx{
	top:30rpx;
}
.my-position-top-40rpx{
	top:40rpx;
}
.my-position-top-50rpx{
	top:50rpx;
}
.my-position-top-60rpx{
	top:60rpx;
}
.my-position-top-70rpx{
	top:70rpx;
}
.my-position-top-80rpx{
	top:80rpx;
}
.my-position-top-90rpx{
	top:90rpx;
}
.my-position-top-100rpx{
	top:100rpx;
}
.my-position-top-110rpx{
	top:110rpx;
}
.my-position-top-120rpx{
	top:120rpx;
}
.my-position-top-130rpx{
	top:130rpx;
}
.my-position-top-140rpx{
	top:140rpx;
}
.my-position-top-150rpx{
	top:150rpx;
}
.my-position-top-200rpx{
	top:200rpx;
}
.my-position-top-250rpx{
	top:250rpx;
}
.my-position-top-300rpx{
	top:300rpx;
}
.my-position-top-320rpx{
	top:320rpx;
}
.my-position-top-350rpx{
	top:350rpx;
}
.my-position-top-400rpx{
	top:400rpx;
}
.my-position-top-450rpx{
	top:450rpx;
}
.my-position-top-500rpx{
	top:500rpx;
}
.my-position-top-550rpx{
	top:550rpx;
}
.my-position-top-600rpx{
	top:600rpx;
}
.my-position-top-700rpx{
	top:700rpx;
}
.my-position-top-800rpx{
	top:800rpx;
}

.my-position-left-0rpx{
	left:0rpx;
}
.my-position-left-5rpx{
	left:5rpx;
}
.my-position-left-10rpx{
	left:10rpx;
}
.my-position-left-15rpx{
	left:15rpx;
}
.my-position-left-20rpx{
	left:20rpx;
}
.my-position-left-30rpx{
	left:30rpx;
}
.my-position-left-40rpx{
	left:40rpx;
}
.my-position-left-50rpx{
	left:50rpx;
}
.my-position-left-60rpx{
	left:60rpx;
}
.my-position-left-70rpx{
	left:70rpx;
}
.my-position-left-80rpx{
	left:80rpx;
}
.my-position-left-90rpx{
	left:90rpx;
}
.my-position-left-100rpx{
	left:100rpx;
}
.my-position-left-150rpx{
	left:150rpx;
}
.my-position-left-200rpx{
	left:200rpx;
}
.my-position-left-250rpx{
	left:250rpx;
}
.my-position-left-300rpx{
	left:300rpx;
}
.my-position-left-320rpx{
	left:320rpx;
}
.my-position-left-350rpx{
	left:350rpx;
}
.my-position-left-400rpx{
	left:400rpx;
}
.my-position-left-450rpx{
	left:450rpx;
}
.my-position-left-500rpx{
	left:500rpx;
}
.my-position-left-550rpx{
	left:550rpx;
}
.my-position-left-600rpx{
	left:600rpx;
}

.my-position-right-0rpx{
	right:0rpx;
}
.my-position-right-5rpx{
	right:5rpx;
}
.my-position-right-10rpx{
	right:10rpx;
}
.my-position-right-15rpx{
	right:15rpx;
}
.my-position-right-20rpx{
	right:20rpx;
}
.my-position-right-30rpx{
	right:30rpx;
}
.my-position-right-40rpx{
	right:40rpx;
}
.my-position-right-50rpx{
	right:50rpx;
}
.my-position-right-60rpx{
	right:60rpx;
}
.my-position-right-70rpx{
	right:70rpx;
}
.my-position-right-80rpx{
	right:80rpx;
}
.my-position-right-90rpx{
	right:90rpx;
}
.my-position-right-100rpx{
	right:100rpx;
}
.my-position-right-150rpx{
	right:150rpx;
}
.my-position-right-200rpx{
	right:200rpx;
}
.my-position-right-250rpx{
	right:250rpx;
}
.my-position-right-300rpx{
	right:300rpx;
}
.my-position-right-320rpx{
	right:320rpx;
}
.my-position-right-350rpx{
	right:350rpx;
}
.my-position-right-400rpx{
	right:400rpx;
}
.my-position-right-450rpx{
	right:450rpx;
}
.my-position-right-500rpx{
	right:500rpx;
}
.my-position-right-550rpx{
	right:550rpx;
}
.my-position-right-600rpx{
	right:600rpx;
}

.my-position-bottom-0rpx{
	bottom:0rpx;
}
.my-position-bottom-5rpx{
	bottom:5rpx;
}
.my-position-bottom-10rpx{
	bottom:10rpx;
}
.my-position-bottom-15rpx{
	bottom:15rpx;
}
.my-position-bottom-20rpx{
	bottom:20rpx;
}
.my-position-bottom-30rpx{
	bottom:30rpx;
}
.my-position-bottom-40rpx{
	bottom:40rpx;
}
.my-position-bottom-50rpx{
	bottom:50rpx;
}
.my-position-bottom-60rpx{
	bottom:60rpx;
}
.my-position-bottom-70rpx{
	bottom:70rpx;
}
.my-position-bottom-80rpx{
	bottom:80rpx;
}
.my-position-bottom-90rpx{
	bottom:90rpx;
}
.my-position-bottom-100rpx{
	bottom:100rpx;
}
.my-position-bottom-150rpx{
	bottom:150rpx;
}
.my-position-bottom-200rpx{
	bottom:200rpx;
}
.my-position-bottom-250rpx{
	bottom:250rpx;
}
.my-position-bottom-300rpx{
	bottom:300rpx;
}
.my-position-bottom-320rpx{
	bottom:320rpx;
}
.my-position-bottom-350rpx{
	bottom:350rpx;
}
.my-position-bottom-400rpx{
	bottom:400rpx;
}
.my-position-bottom-450rpx{
	bottom:450rpx;
}
.my-position-bottom-500rpx{
	bottom:500rpx;
}
.my-position-bottom-550rpx{
	bottom:550rpx;
}
.my-position-bottom-600rpx{
	bottom:600rpx;
}

/******
	Margin
******/
.my-margin-auto{
	margin:auto;
}

.my-margin-left-s{
	margin-left: 10rpx;
}
.my-margin-left-sm{
	margin-left: 20rpx;
}
.my-margin-left-sl{
	margin-left: 30rpx;
}
.my-margin-left-ms{
	margin-left: 40rpx;
}
.my-margin-left-mm{
	margin-left: 40rpx;
}
.my-margin-left-ml{
	margin-left: 50rpx;
}
.my-margin-left-ls{
	margin-left: 60rpx;
}
.my-margin-left-lm{
	margin-left: 70rpx;
}
.my-margin-left-ll{
	margin-left: 80rpx;
}
.my-margin-left-xl{
	margin-left: 90rpx;
}
.my-margin-left-xxl{
	margin-left: 100rpx;
}
.my-margin-left-120rpx{
	margin-left: 120rpx;
}
.my-margin-left-140rpx{
	margin-left: 140rpx;
}
.my-margin-left-160rpx{
	margin-left: 160rpx;
}
.my-margin-left-180rpx{
	margin-left: 180rpx;
}
.my-margin-left-200rpx{
	margin-left: 200rpx;
}
.my-margin-left-220rpx{
	margin-left: 220rpx;
}
.my-margin-left-240rpx{
	margin-left: 240rpx;
}
.my-margin-left-260rpx{
	margin-left: 260rpx;
}
.my-margin-left-280rpx{
	margin-left: 280rpx;
}
.my-margin-left-300rpx{
	margin-left: 300rpx;
}
.my-margin-left-320rpx{
	margin-left: 320rpx;
}
.my-margin-left-340rpx{
	margin-left: 340rpx;
}
.my-margin-left-360rpx{
	margin-left: 360rpx;
}
.my-margin-left-380rpx{
	margin-left: 380rpx;
}
.my-margin-left-400rpx{
	margin-left: 400rpx;
}


.my-margin-right-s{
	margin-right: 10rpx;
}
.my-margin-right-sm{
	margin-right: 20rpx;
}
.my-margin-right-sl{
	margin-right: 30rpx;
}
.my-margin-right-ms{
	margin-right: 40rpx;
}
.my-margin-right-mm{
	margin-right: 40rpx;
}
.my-margin-right-ml{
	margin-right: 50rpx;
}
.my-margin-right-ls{
	margin-right: 60rpx;
}
.my-margin-right-lm{
	margin-right: 70rpx;
}
.my-margin-right-ll{
	margin-right: 80rpx;
}
.my-margin-right-xl{
	margin-right: 90rpx;
}
.my-margin-right-xxl{
	margin-right: 100rpx;
}
.my-margin-right-120rpx{
	margin-right: 120rpx;
}
.my-margin-right-140rpx{
	margin-right: 140rpx;
}
.my-margin-right-160rpx{
	margin-right: 160rpx;
}
.my-margin-right-180rpx{
	margin-right: 180rpx;
}
.my-margin-right-200rpx{
	margin-right: 200rpx;
}
.my-margin-right-220rpx{
	margin-right: 220rpx;
}
.my-margin-right-240rpx{
	margin-right: 240rpx;
}
.my-margin-right-260rpx{
	margin-right: 260rpx;
}
.my-margin-right-280rpx{
	margin-right: 280rpx;
}
.my-margin-right-300rpx{
	margin-right: 300rpx;
}
.my-margin-right-320rpx{
	margin-right: 320rpx;
}
.my-margin-right-340rpx{
	margin-right: 340rpx;
}
.my-margin-right-360rpx{
	margin-right: 360rpx;
}
.my-margin-right-380rpx{
	margin-right: 380rpx;
}
.my-margin-right-400rpx{
	margin-right: 400rpx;
}

.my-margin-top-s{
	margin-top: 10rpx;
}
.my-margin-top-sm{
	margin-top: 20rpx;
}
.my-margin-top-sl{
	margin-top: 30rpx;
}
.my-margin-top-ms{
	margin-top: 40rpx;
}
.my-margin-top-mm{
	margin-top: 40rpx;
}
.my-margin-top-ml{
	margin-top: 50rpx;
}
.my-margin-top-ls{
	margin-top: 60rpx;
}
.my-margin-top-lm{
	margin-top: 70rpx;
}
.my-margin-top-ll{
	margin-top: 80rpx;
}
.my-margin-top-xl{
	margin-top: 90rpx;
}
.my-margin-top-xxl{
	margin-top: 100rpx;
}
.my-margin-top-120rpx{
	margin-top: 120rpx;
}
.my-margin-top-140rpx{
	margin-top: 140rpx;
}
.my-margin-top-160rpx{
	margin-top: 160rpx;
}
.my-margin-top-180rpx{
	margin-top: 180rpx;
}
.my-margin-top-200rpx{
	margin-top: 200rpx;
}
.my-margin-top-220rpx{
	margin-top: 220rpx;
}
.my-margin-top-240rpx{
	margin-top: 240rpx;
}
.my-margin-top-260rpx{
	margin-top: 260rpx;
}
.my-margin-top-280rpx{
	margin-top: 280rpx;
}
.my-margin-top-300rpx{
	margin-top: 300rpx;
}
.my-margin-top-320rpx{
	margin-top: 320rpx;
}
.my-margin-top-340rpx{
	margin-top: 340rpx;
}
.my-margin-top-360rpx{
	margin-top: 360rpx;
}
.my-margin-top-380rpx{
	margin-top: 380rpx;
}
.my-margin-top-400rpx{
	margin-top: 400rpx;
}

.my-margin-bottom-s{
	margin-bottom: 10rpx;
}
.my-margin-bottom-sm{
	margin-bottom: 20rpx;
}
.my-margin-bottom-sl{
	margin-bottom: 30rpx;
}
.my-margin-bottom-ms{
	margin-bottom: 40rpx;
}
.my-margin-bottom-mm{
	margin-bottom: 40rpx;
}
.my-margin-bottom-ml{
	margin-bottom: 50rpx;
}
.my-margin-bottom-ls{
	margin-bottom: 60rpx;
}
.my-margin-bottom-lm{
	margin-bottom: 70rpx;
}
.my-margin-bottom-ll{
	margin-bottom: 80rpx;
}
.my-margin-bottom-xl{
	margin-bottom: 90rpx;
}
.my-margin-bottom-xxl{
	margin-bottom: 100rpx;
}
.my-margin-bottom-120rpx{
	margin-bottom: 120rpx;
}
.my-margin-bottom-140rpx{
	margin-bottom: 140rpx;
}
.my-margin-bottom-160rpx{
	margin-bottom: 160rpx;
}
.my-margin-bottom-180rpx{
	margin-bottom: 180rpx;
}
.my-margin-bottom-200rpx{
	margin-bottom: 200rpx;
}
.my-margin-bottom-220rpx{
	margin-bottom: 220rpx;
}
.my-margin-bottom-240rpx{
	margin-bottom: 240rpx;
}
.my-margin-bottom-260rpx{
	margin-bottom: 260rpx;
}
.my-margin-bottom-280rpx{
	margin-bottom: 280rpx;
}
.my-margin-bottom-300rpx{
	margin-bottom: 300rpx;
}
.my-margin-bottom-320rpx{
	margin-bottom: 320rpx;
}
.my-margin-bottom-340rpx{
	margin-bottom: 340rpx;
}
.my-margin-bottom-360rpx{
	margin-bottom: 360rpx;
}
.my-margin-bottom-380rpx{
	margin-bottom: 380rpx;
}
.my-margin-bottom-400rpx{
	margin-bottom: 400rpx;
}
/******
	Text
******/
.my-text-font-s{
	font-size: 10rpx;
}
.my-text-font-m{
	font-size:20rpx;
}
.my-text-font-mm{
	font-size:35rpx;
}
.my-text-font-ml{
	font-size:45rpx;
}
.my-text-font-ls{
	font-size:55rpx;
}
.my-text-font-lm{
	font-size:65rpx;
}
.my-text-font-ll{
	font-size:75rpx;
}

.my-text-font-bold{
	font-weight: bold;
}
.my-text-font-bolder{
	font-weight: bolder;
}
.my-text-font-100{
	font-weight: 100;
}
.my-text-font-200{
	font-weight: 200;
}
.my-text-font-300{
	font-weight: 300;
}
.my-text-font-400{
	font-weight: 400;
}
.my-text-font-500{
	font-weight: 500;
}
.my-text-font-600{
	font-weight: 600;
}
.my-text-font-700{
	font-weight: 700;
}
.my-text-font-800{
	font-weight: 800;
}
.my-text-font-900{
	font-weight: 900;
}

.my-text-align-center{
	text-align: center;
}
.my-text-align-right{
	text-align: right;
}
.my-text-align-justify{
	text-align: justify;
}


/******
	Border
******/
.my-radius-all-10rpx{
	border-radius: 10rpx;
}
.my-radius-all-20rpx{
	border-radius: 20rpx;
}
.my-radius-all-50rpx{
	border-radius: 50rpx;
}
.my-radius-all-100rpx{
	border-radius: 100rpx;
}
.my-radius-all-120rpx{
	border-radius: 120rpx;
}
.my-radius-all-150rpx{
	border-radius: 150rpx;
}
.my-radius-all-200rpx{
	border-radius: 200rpx;
}
.my-radius-all-220rpx{
	border-radius: 220rpx;
}
.my-radius-all-250rpx{
	border-radius: 240rpx;
}
.my-radius-all-300rpx{
	border-radius: 300rpx;
}
.my-radius-all-320rpx{
	border-radius: 320rpx;
}
.my-radius-all-350rpx{
	border-radius: 350rpx;
}
.my-radius-all-400rpx{
	border-radius: 400rpx;
}

.my-radius-top-left-10{
	border-top-left-radius: 10rpx;
}
.my-radius-top-left-20{
	border-top-left-radius: 20rpx;
}
.my-radius-top-left-30{
	border-top-left-radius: 30rpx;
}
.my-radius-top-left-40{
	border-top-left-radius: 40rpx;
}
.my-radius-top-left-50{
	border-top-left-radius: 50rpx;
}
.my-radius-top-left-60{
	border-top-left-radius: 60rpx;
}
.my-radius-top-left-70{
	border-top-left-radius: 70rpx;
}
.my-radius-top-left-80{
	border-top-left-radius: 80rpx;
}
.my-radius-top-left-90{
	border-top-left-radius: 90rpx;
}
.my-radius-top-left-100{
	border-top-left-radius: 100rpx;
}
.my-radius-top-left-110{
	border-top-left-radius: 110rpx;
}
.my-radius-top-left-120{
	border-top-left-radius: 120rpx;
}
.my-radius-top-left-130{
	border-top-left-radius: 130rpx;
}
.my-radius-top-left-140{
	border-top-left-radius: 140rpx;
}
.my-radius-top-left-150{
	border-top-left-radius: 150rpx;
}
.my-radius-top-left-160{
	border-top-left-radius: 160rpx;
}
.my-radius-top-left-170{
	border-top-left-radius: 170rpx;
}
.my-radius-top-left-180{
	border-top-left-radius: 180rpx;
}
.my-radius-top-left-190{
	border-top-left-radius: 190rpx;
}
.my-radius-top-left-200{
	border-top-left-radius: 200rpx;
}
.my-radius-top-left-210{
	border-top-left-radius: 210rpx;
}
.my-radius-top-left-220{
	border-top-left-radius: 220rpx;
}
.my-radius-top-left-230{
	border-top-left-radius: 230rpx;
}
.my-radius-top-left-240{
	border-top-left-radius: 240rpx;
}
.my-radius-top-left-250{
	border-top-left-radius: 250rpx;
}
.my-radius-top-left-260{
	border-top-left-radius: 260rpx;
}
.my-radius-top-left-270{
	border-top-left-radius: 270rpx;
}
.my-radius-top-left-280{
	border-top-left-radius: 280rpx;
}
.my-radius-top-left-290{
	border-top-left-radius: 290rpx;
}
.my-radius-top-left-300{
	border-top-left-radius: 300rpx;
}
.my-radius-top-left-310{
	border-top-left-radius: 310rpx;
}
.my-radius-top-left-320{
	border-top-left-radius: 320rpx;
}
.my-radius-top-left-330{
	border-top-left-radius: 330rpx;
}
.my-radius-top-left-340{
	border-top-left-radius: 340rpx;
}
.my-radius-top-left-350{
	border-top-left-radius: 350rpx;
}
.my-radius-top-left-360{
	border-top-left-radius: 360rpx;
}
.my-radius-top-left-370{
	border-top-left-radius: 370rpx;
}
.my-radius-top-left-380{
	border-top-left-radius: 380rpx;
}
.my-radius-top-left-390{
	border-top-left-radius: 390rpx;
}
.my-radius-top-left-400{
	border-top-left-radius: 400rpx;
}


.my-radius-top-right-10{
	border-top-right-radius: 10rpx;
}
.my-radius-top-right-20{
	border-top-right-radius: 20rpx;
}
.my-radius-top-right-30{
	border-top-right-radius: 30rpx;
}
.my-radius-top-right-40{
	border-top-right-radius: 40rpx;
}
.my-radius-top-right-50{
	border-top-right-radius: 50rpx;
}
.my-radius-top-right-60{
	border-top-right-radius: 60rpx;
}
.my-radius-top-right-70{
	border-top-right-radius: 70rpx;
}
.my-radius-top-right-80{
	border-top-right-radius: 80rpx;
}
.my-radius-top-right-90{
	border-top-right-radius: 90rpx;
}
.my-radius-top-right-100{
	border-top-right-radius: 100rpx;
}
.my-radius-top-right-110{
	border-top-right-radius: 110rpx;
}
.my-radius-top-right-120{
	border-top-right-radius: 120rpx;
}
.my-radius-top-right-130{
	border-top-right-radius: 130rpx;
}
.my-radius-top-right-140{
	border-top-right-radius: 140rpx;
}
.my-radius-top-right-150{
	border-top-right-radius: 150rpx;
}
.my-radius-top-right-160{
	border-top-right-radius: 160rpx;
}
.my-radius-top-right-170{
	border-top-right-radius: 170rpx;
}
.my-radius-top-right-180{
	border-top-right-radius: 180rpx;
}
.my-radius-top-right-190{
	border-top-right-radius: 190rpx;
}
.my-radius-top-right-200{
	border-top-right-radius: 200rpx;
}
.my-radius-top-right-210{
	border-top-right-radius: 210rpx;
}
.my-radius-top-right-220{
	border-top-right-radius: 220rpx;
}
.my-radius-top-right-230{
	border-top-right-radius: 230rpx;
}
.my-radius-top-right-240{
	border-top-right-radius: 240rpx;
}
.my-radius-top-right-250{
	border-top-right-radius: 250rpx;
}
.my-radius-top-right-260{
	border-top-right-radius: 260rpx;
}
.my-radius-top-right-270{
	border-top-right-radius: 270rpx;
}
.my-radius-top-right-280{
	border-top-right-radius: 280rpx;
}
.my-radius-top-right-290{
	border-top-right-radius: 290rpx;
}
.my-radius-top-right-300{
	border-top-right-radius: 300rpx;
}
.my-radius-top-right-310{
	border-top-right-radius: 310rpx;
}
.my-radius-top-right-320{
	border-top-right-radius: 320rpx;
}
.my-radius-top-right-330{
	border-top-right-radius: 330rpx;
}
.my-radius-top-right-340{
	border-top-right-radius: 340rpx;
}
.my-radius-top-right-350{
	border-top-right-radius: 350rpx;
}
.my-radius-top-right-360{
	border-top-right-radius: 360rpx;
}
.my-radius-top-right-370{
	border-top-right-radius: 370rpx;
}
.my-radius-top-right-380{
	border-top-right-radius: 380rpx;
}
.my-radius-top-right-390{
	border-top-right-radius: 390rpx;
}
.my-radius-top-right-400{
	border-top-right-radius: 400rpx;
}

.my-radius-bottom-left-10{
	border-bottom-left-radius: 10rpx;
}
.my-radius-bottom-left-20{
	border-bottom-left-radius: 20rpx;
}
.my-radius-bottom-left-30{
	border-bottom-left-radius: 30rpx;
}
.my-radius-bottom-left-40{
	border-bottom-left-radius: 40rpx;
}
.my-radius-bottom-left-50{
	border-bottom-left-radius: 50rpx;
}
.my-radius-bottom-left-60{
	border-bottom-left-radius: 60rpx;
}
.my-radius-bottom-left-70{
	border-bottom-left-radius: 70rpx;
}
.my-radius-bottom-left-80{
	border-bottom-left-radius: 80rpx;
}
.my-radius-bottom-left-90{
	border-bottom-left-radius: 90rpx;
}
.my-radius-bottom-left-100{
	border-bottom-left-radius: 100rpx;
}
.my-radius-bottom-left-110{
	border-bottom-left-radius: 110rpx;
}
.my-radius-bottom-left-120{
	border-bottom-left-radius: 120rpx;
}
.my-radius-bottom-left-130{
	border-bottom-left-radius: 130rpx;
}
.my-radius-bottom-left-140{
	border-bottom-left-radius: 140rpx;
}
.my-radius-bottom-left-150{
	border-bottom-left-radius: 150rpx;
}
.my-radius-bottom-left-160{
	border-bottom-left-radius: 160rpx;
}
.my-radius-bottom-left-170{
	border-bottom-left-radius: 170rpx;
}
.my-radius-bottom-left-180{
	border-bottom-left-radius: 180rpx;
}
.my-radius-bottom-left-190{
	border-bottom-left-radius: 190rpx;
}
.my-radius-bottom-left-200{
	border-bottom-left-radius: 200rpx;
}
.my-radius-bottom-left-210{
	border-bottom-left-radius: 210rpx;
}
.my-radius-bottom-left-220{
	border-bottom-left-radius: 220rpx;
}
.my-radius-bottom-left-230{
	border-bottom-left-radius: 230rpx;
}
.my-radius-bottom-left-240{
	border-bottom-left-radius: 240rpx;
}
.my-radius-bottom-left-250{
	border-bottom-left-radius: 250rpx;
}
.my-radius-bottom-left-260{
	border-bottom-left-radius: 260rpx;
}
.my-radius-bottom-left-270{
	border-bottom-left-radius: 270rpx;
}
.my-radius-bottom-left-280{
	border-bottom-left-radius: 280rpx;
}
.my-radius-bottom-left-290{
	border-bottom-left-radius: 290rpx;
}
.my-radius-bottom-left-300{
	border-bottom-left-radius: 300rpx;
}
.my-radius-bottom-left-310{
	border-bottom-left-radius: 310rpx;
}
.my-radius-bottom-left-320{
	border-bottom-left-radius: 320rpx;
}
.my-radius-bottom-left-330{
	border-bottom-left-radius: 330rpx;
}
.my-radius-bottom-left-340{
	border-bottom-left-radius: 340rpx;
}
.my-radius-bottom-left-350{
	border-bottom-left-radius: 350rpx;
}
.my-radius-bottom-left-360{
	border-bottom-left-radius: 360rpx;
}
.my-radius-bottom-left-370{
	border-bottom-left-radius: 370rpx;
}
.my-radius-bottom-left-380{
	border-bottom-left-radius: 380rpx;
}
.my-radius-bottom-left-390{
	border-bottom-left-radius: 390rpx;
}
.my-radius-bottom-left-400{
	border-bottom-left-radius: 400rpx;
}

.my-radius-bottom-right-10{
	border-bottom-right-radius: 10rpx;
}
.my-radius-bottom-right-20{
	border-bottom-right-radius: 20rpx;
}
.my-radius-bottom-right-30{
	border-bottom-right-radius: 30rpx;
}
.my-radius-bottom-right-40{
	border-bottom-right-radius: 40rpx;
}
.my-radius-bottom-right-50{
	border-bottom-right-radius: 50rpx;
}
.my-radius-bottom-right-60{
	border-bottom-right-radius: 60rpx;
}
.my-radius-bottom-right-70{
	border-bottom-right-radius: 70rpx;
}
.my-radius-bottom-right-80{
	border-bottom-right-radius: 80rpx;
}
.my-radius-bottom-right-90{
	border-bottom-right-radius: 90rpx;
}
.my-radius-bottom-right-100{
	border-bottom-right-radius: 100rpx;
}
.my-radius-bottom-right-110{
	border-bottom-right-radius: 110rpx;
}
.my-radius-bottom-right-120{
	border-bottom-right-radius: 120rpx;
}
.my-radius-bottom-right-130{
	border-bottom-right-radius: 130rpx;
}
.my-radius-bottom-right-140{
	border-bottom-right-radius: 140rpx;
}
.my-radius-bottom-right-150{
	border-bottom-right-radius: 150rpx;
}
.my-radius-bottom-right-160{
	border-bottom-right-radius: 160rpx;
}
.my-radius-bottom-right-170{
	border-bottom-right-radius: 170rpx;
}
.my-radius-bottom-right-180{
	border-bottom-right-radius: 180rpx;
}
.my-radius-bottom-right-190{
	border-bottom-right-radius: 190rpx;
}
.my-radius-bottom-right-200{
	border-bottom-right-radius: 200rpx;
}
.my-radius-bottom-right-210{
	border-bottom-right-radius: 210rpx;
}
.my-radius-bottom-right-220{
	border-bottom-right-radius: 220rpx;
}
.my-radius-bottom-right-230{
	border-bottom-right-radius: 230rpx;
}
.my-radius-bottom-right-240{
	border-bottom-right-radius: 240rpx;
}
.my-radius-bottom-right-250{
	border-bottom-right-radius: 250rpx;
}
.my-radius-bottom-right-260{
	border-bottom-right-radius: 260rpx;
}
.my-radius-bottom-right-270{
	border-bottom-right-radius: 270rpx;
}
.my-radius-bottom-right-280{
	border-bottom-right-radius: 280rpx;
}
.my-radius-bottom-right-290{
	border-bottom-right-radius: 290rpx;
}
.my-radius-bottom-right-300{
	border-bottom-right-radius: 300rpx;
}
.my-radius-bottom-right-310{
	border-bottom-right-radius: 310rpx;
}
.my-radius-bottom-right-320{
	border-bottom-right-radius: 320rpx;
}
.my-radius-bottom-right-330{
	border-bottom-right-radius: 330rpx;
}
.my-radius-bottom-right-340{
	border-bottom-right-radius: 340rpx;
}
.my-radius-bottom-right-350{
	border-bottom-right-radius: 350rpx;
}
.my-radius-bottom-right-360{
	border-bottom-right-radius: 360rpx;
}
.my-radius-bottom-right-370{
	border-bottom-right-radius: 370rpx;
}
.my-radius-bottom-right-380{
	border-bottom-right-radius: 380rpx;
}
.my-radius-bottom-right-390{
	border-bottom-right-radius: 390rpx;
}
.my-radius-bottom-right-400{
	border-bottom-right-radius: 400rpx;
}

.my-border-width-s{
	border-width:5rpx;
}
.my-border-width-sm{
	border-width:7rpx;
}
.my-border-width-m{
	border-width:10rpx;
}
.my-border-width-mm{
	border-width:15rpx;
}
.my-border-width-x{
	border-width:20rpx;
}

.my-border-solid{
	border-style:solid;
}
.my-border-dotted{
	border-style:dotted;
}
.my-border-double{
	border-style:double;
}
.my-border-dashed{
	border-style:dashed;
}

.my-border-color-black{
	border-color:#000000;
}
.my-border-color-gray1{
	border-color:#8799a3;
}
.my-border-color-gray2{
	border-color:#aaaaaa;
}
.my-border-color-gray3{
	border-color:#cacaca;
}
.my-border-color-gray4{
	border-color:#dcdcdc;
}
.my-border-color-gray5{
	border-color:#ebebeb;
}
.my-border-color-gray6{
	border-color:#4D4D4D;
}
.my-border-color-theme{
	border-color:#ffd250;
}
/******
	Shadow
******/
.my-shadow-right-bottom-s{
	box-shadow: 5rpx 5rpx 0rpx #aaaaaa;
}

.my-shadow-all-s{
	box-shadow: 0rpx 0rpx 15rpx #aaaaaa;
}
.my-shadow-all-m{
	box-shadow: 0rpx 0rpx 30rpx #aaaaaa;
}
.my-shadow-all-l{
	box-shadow: 0rpx 0rpx 50rpx #aaaaaa;
}

.my-shadow-left-s{
	box-shadow: 5rpx 0rpx 15rpx #aaaaaa;
}
.my-shadow-left-m{
	box-shadow: 10rpx 0rpx 30rpx #aaaaaa;
}
.my-shadow-left-l{
	box-shadow: 15rpx 0rpx 50rpx #aaaaaa;
}

.my-shadow-bottom-s{
	box-shadow: 0rpx 5rpx 15rpx #aaaaaa;
}
.my-shadow-bottom-m{
	box-shadow: 0rpx 10rpx 30rpx #aaaaaa;
}
.my-shadow-bottom-l{
	box-shadow: 0rpx 15rpx 50rpx #aaaaaa;
}

/******
Height Width
******/
.my-width-10pre{
	width:10%;
}
.my-width-20pre{
	width:20%;
}
.my-width-30pre{
	width:30%;
}
.my-width-40pre{
	width:40%;
}
.my-width-50pre{
	width:50%;
}
.my-width-60pre{
	width:60%;
}
.my-width-70pre{
	width:70%;
}
.my-width-80pre{
	width:80%;
}
.my-width-90pre{
	width:90%;
}
.my-width-92pre{
	width:92%;
}
.my-width-95pre{
	width:95%;
}
.my-width-96pre{
	width:96%;
}
.my-width-97pre{
	width:97%;
}
.my-width-100pre{
	width:100%;
}

.my-width-10rpx{
	width: 10rpx;
}
.my-width-20rpx{
	width: 20rpx;
}
.my-width-30rpx{
	width: 30rpx;
}
.my-width-40rpx{
	width: 40rpx;
}
.my-width-50rpx{
	width: 50rpx;
}
.my-width-60rpx{
	width: 60rpx;
}
.my-width-70rpx{
	width: 70rpx;
}
.my-width-80rpx{
	width: 80rpx;
}
.my-width-90rpx{
	width: 90rpx;
}
.my-width-100rpx{
	width: 100rpx;
}
.my-width-150rpx{
	width: 150rpx;
}
.my-width-170rpx{
	width: 170rpx;
}
.my-width-180rpx{
	width: 180rpx;
}
.my-width-190rpx{
	width: 190rpx;
}
.my-width-200rpx{
	width: 200rpx;
}
.my-width-300rpx{
	width: 300rpx;
}
.my-width-400rpx{
	width: 400rpx;
}
.my-width-400rpx{
	width: 400rpx;
}
.my-width-500rpx{
	width: 500rpx;
}
.my-width-550rpx{
	width: 550rpx;
}
.my-width-560rpx{
	width: 560rpx;
}
.my-width-570rpx{
	width: 570rpx;
}
.my-width-580rpx{
	width: 580rpx;
}
.my-width-590rpx{
	width: 590rpx;
}
.my-width-600rpx{
	width: 600rpx;
}
.my-width-650rpx{
	width: 650rpx;
}
.my-width-660rpx{
	width: 660rpx;
}
.my-width-670rpx{
	width: 670rpx;
}
.my-width-680rpx{
	width: 680rpx;
}
.my-width-690rpx{
	width: 690rpx;
}
.my-width-700rpx{
	width: 700rpx;
}
.my-width-800rpx{
	width: 800rpx;
}
.my-width-900rpx{
	width: 900rpx;
}

.my-height-10pre{
	height:10%;
}
.my-height-20pre{
	height:20%;
}
.my-height-30pre{
	height:30%;
}
.my-height-40pre{
	height:40%;
}
.my-height-50pre{
	height:50%;
}
.my-height-60pre{
	height:60%;
}
.my-height-70pre{
	height:70%;
}
.my-height-80pre{
	height:80%;
}
.my-height-90pre{
	height:90%;
}
.my-height-92pre{
	height:92%;
}
.my-height-95pre{
	height:95%;
}
.my-height-96pre{
	height:96%;
}
.my-height-97pre{
	height:97%;
}
.my-height-100pre{
	height:100%;
}

.my-height-10rpx{
	height: 10rpx;
}
.my-height-20rpx{
	height: 20rpx;
}
.my-height-30rpx{
	height: 30rpx;
}
.my-height-40rpx{
	height: 40rpx;
}
.my-height-50rpx{
	height: 50rpx;
}
.my-height-60rpx{
	height: 60rpx;
}
.my-height-70rpx{
	height: 70rpx;
}
.my-height-80rpx{
	height: 80rpx;
}
.my-height-90rpx{
	height: 90rpx;
}
.my-height-100rpx{
	height: 100rpx;
}
.my-height-150rpx{
	height: 150rpx;
}
.my-height-170rpx{
	height: 170rpx;
}
.my-height-180rpx{
	height: 180rpx;
}
.my-height-190rpx{
	height: 190rpx;
}
.my-height-200rpx{
	height: 200rpx;
}
.my-height-300rpx{
	height: 300rpx;
}
.my-height-400rpx{
	height: 400rpx;
}
.my-height-400rpx{
	height: 400rpx;
}
.my-height-500rpx{
	height: 500rpx;
}
.my-height-550rpx{
	height: 550rpx;
}
.my-height-560rpx{
	height: 560rpx;
}
.my-height-570rpx{
	height: 570rpx;
}
.my-height-580rpx{
	height: 580rpx;
}
.my-height-590rpx{
	height: 590rpx;
}
.my-height-600rpx{
	height: 600rpx;
}
.my-height-650rpx{
	height: 650rpx;
}
.my-height-660rpx{
	height: 660rpx;
}
.my-height-670rpx{
	height: 670rpx;
}
.my-height-680rpx{
	height: 680rpx;
}
.my-height-690rpx{
	height: 690rpx;
}
.my-height-700rpx{
	height: 700rpx;
}
.my-height-800rpx{
	height: 800rpx;
}
.my-height-900rpx{
	height: 900rpx;
}