.my-color-theme{
	color:#ffd250
}

.my-color-gray-1{
	color: #8799a3
}
.my-color-gray-2{
	color: #aaaaaa
}

.my-color-red-1{
	color: #e54d42
}

.my-color-orange-1{
	color: #f37b1d
}

.my-color-yellow-1{
	color: #fbbd08
}

.my-color-green-1{
	color: #8dc63f
}
.my-color-green-2{
	color: #39b54a
}		
.my-color-green-3{
	color: #1cbbb4
}

.my-color-blue-1{
	color: #0081ff
}


.my-color-purple-1{
	color: #6739b6
}

.my-color-mauve-1{
	color: #9c26b0
}
		
.my-color-pink-1{
	color: #e03997
}				
	
.my-color-brown-1{
	color: #a5673f
}				
				

.my-bg-color-theme{
	background-color: #ffd250;
}

.my-bg-color-gray-1{
	background-color: #8799a3;
}

.my-bg-color-gray-2{
	background-color: #aaaaaa;
}

.my-bg-color-white{
	background-color: #FFFFFF;
}