.my-color-theme{
	color:#ffd250
}

.my-color-gray-1{
	color: #8799a3
}
.my-color-gray-2{
	color: #aaaaaa
}

.my-bg-color-theme{
	background-color: #ffd250;
}

.my-bg-color-gray-1{
	background-color: #8799a3;
}

.my-bg-color-gray-2{
	background-color: #aaaaaa;
}

.my-bg-color-white{
	background-color: #FFFFFF;
}